<h1>Bienvenidos</h1>

</br>

<%= link_to "gestión de productos", index_product_path %>

</br>

<!--este también sirve-->
<!--%= link_to "gestión de artículos", articles_path%--> 

<%= link_to 'Mi Blog', controller: 'articles' %>